.body-text{
    text-align: center;
    padding-top: 15%;
}
.choice{
    text-align: center;
    position: relative;
    padding-left: 20%;
}
.no-choice{
    text-align: center;
    position: relative;
    padding-left: 32%;
}
.end-choice{
    text-align: center;
    position: relative;
    padding-left: 46.8%;
}